In [170]:
import pandas as pd
import numpy as np

df = pd.read_csv("C:/Users/anton/OneDrive/Documentos/limpieza/df_sucio.csv")
df

,Month,WeekOfMonth,DayOfWeek,Make,AccidentArea,DayOfWeekClaimed,MonthClaimed,WeekOfMonthClaimed,Sex,MaritalStatus,...,AgeOfVehicle,AgeOfPolicyHolder,PoliceReportFiled,WitnessPresent,AgentType,NumberOfSuppliments,AddressChange_Claim,NumberOfCars,Year,BasePolicy
0,Dec,5.0,Wednesday,Honda,Urban,Tuesday,Jan,1.0,Female,Single,...,3 years,26 to 30,NaN,No,External,none,1 year,3 to 4,1994.0,Liability
1,Jan,3.0,Wednesday,Honda,Urban,Monday,Jan,4.0,Male,Single,...,6 years,31 to 35,Yes,No,External,none,no change,1 vehicle,1994.0,Collision
2,Oct,5.0,Friday,Honda,Urban,Thursday,NaN,2.0,Male,Married,...,7 years,41 to 50,No,No,External,none,no change,1 vehicle,1994.0,Collision
3,Jun,2.0,Saturday,Toyota,Rural,Friday,Jul,1.0,Male,Married,...,more than 7,51 to 65,Yes,No,External,more than 5,no change,1 vehicle,1994.0,Liability
4,NaN,5.0,Monday,Honda,Urban,Tuesday,Feb,2.0,Female,Single,...,5 years,31 to 35,No,No,External,none,no change,1 vehicle,1994.0,Collision
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19013,Jul,5.0,Thursday,Pontiac,Urban,Friday,Jul,5.0,Male,Single,...,7 years,36 to 40,No,NaN,External,3 to 5,no change,1 vehicle,1994.0,Collision
19014,Jan,3.0,Monday,Honda,Urban,Tuesday,Jan,3.0,Male,Single,...,more than 7,51 to 65,No,No,External,more than 5,NaN,1 vehicle,1996.0,Liability
19015,Jan,4.0,Friday,Honda,Urban,Monday,Feb,1.0,Male,Single,...,6 years,31 to 35,No,No,External,none,no change,1 vehicle,NaN,All Perils
19016,Jul,2.0,Thursday,Pontiac,Urban,NaN,Jul,4.0,Female,Married,...,more than 7,36 to 40,No,No,External,none,no change,1 vehicle,1994.0,All Perils
19017,Mar,2.0,Sunday,VW,Urban,Monday,Mar,2.0,Male,Single,...,more than 7,over 65,No,No,Auto%#,3 to 5,no change,1 vehicle,1996.0,All Perils

Primero observamos la informacion general del dataframe

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19018 entries, 0 to 19017
Data columns (total 33 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Month                 18448 non-null  object
 1   WeekOfMonth           18448 non-null  float64
 2   DayOfWeek             18448 non-null  object
 3   Make                  18448 non-null  object
 4   AccidentArea          18448 non-null  object
 5   DayOfWeekClaimed      18448 non-null  object
 6   MonthClaimed          18448 non-null  object
 7   WeekOfMonthClaimed    18448 non-null  float64
 8   Sex                   18448 non-null  object
 9   MaritalStatus         18448 non-null  object
 10  Age                   18081 non-null  float64
 11  Fault                 18448 non-null  object
 12  PolicyType            18448 non-null  object
 13  VehicleCategory       18448 non-null  object
 14  VehiclePrice          18448 non-null  object
 15  FraudFound_P          18448 non-null  object
 16  PolicyNumber          18448 non-null  object
 17  RepNumber             18448 non-null  object
 18  Deductible            18448 non-null  object
 19  DriverRating          18448 non-null  object
 20  Days_Policy_Accident  18448 non-null  object
 21  Days_Policy_Claim     18448 non-null  object
 22  PastNumberOfClaims    18448 non-null  object
 23  AgeOfVehicle          18448 non-null  object
 24  AgeOfPolicyHolder     18448 non-null  object
 25  PoliceReportFiled     18448 non-null  object
 26  WitnessPresent        18448 non-null  object
 27  AgentType             18448 non-null  object
 28  NumberOfSuppliments   18448 non-null  object
 29  AddressChange_Claim   18448 non-null  object
 30  NumberOfCars          18448 non-null  object
 31  Year                  18448 non-null  float64
 32  BasePolicy            18448 non-null  object
dtypes: float64(4), object(29)
memory usage: 4.8+ MB

Verifico valores

In [171]:
df.isnull().sum()

Month                   570
WeekOfMonth             570
DayOfWeek               570
Make                    570
AccidentArea            570
DayOfWeekClaimed        570
MonthClaimed            570
WeekOfMonthClaimed      570
Sex                     570
MaritalStatus           570
Age                     937
Fault                   570
PolicyType              570
VehicleCategory         570
VehiclePrice            570
FraudFound_P            570
PolicyNumber            570
RepNumber               570
Deductible              570
DriverRating            570
Days_Policy_Accident    570
Days_Policy_Claim       570
PastNumberOfClaims      570
AgeOfVehicle            570
AgeOfPolicyHolder       570
PoliceReportFiled       570
WitnessPresent          570
AgentType               570
NumberOfSuppliments     570
AddressChange_Claim     570
NumberOfCars            570
Year                    570
BasePolicy              570
dtype: int64

In [133]:
df.head(2)

,Month,WeekOfMonth,DayOfWeek,Make,AccidentArea,DayOfWeekClaimed,MonthClaimed,WeekOfMonthClaimed,Sex,MaritalStatus,...,AgeOfVehicle,AgeOfPolicyHolder,PoliceReportFiled,WitnessPresent,AgentType,NumberOfSuppliments,AddressChange_Claim,NumberOfCars,Year,BasePolicy
0,Dec,5.0,Wednesday,Honda,Urban,Tuesday,Jan,1.0,Female,Single,...,3 years,26 to 30,NaN,No,External,none,1 year,3 to 4,1994.0,Liability
1,Jan,3.0,Wednesday,Honda,Urban,Monday,Jan,4.0,Male,Single,...,6 years,31 to 35,Yes,No,External,none,no change,1 vehicle,1994.0,Collision

Creamos una funcion para limpiar datos

In [134]:
def clean_value(value):
    if pd.isna(value):
        return value
    value_str = str(value).strip()
    if value_str in ['Auto%#', '', ' ', 'nan', 'NaN', 'NULL', 'None']:
        return np.nan
    return value_str

for col in df.columns:
    df[col] = df[col].apply(clean_value)

Aplicamos correcciones

In [135]:
correcciones = {
    'Deductible': {'Auto%#': np.nan},
    'VehiclePrice': {'Auto%#': np.nan},
    'DriverRating': {'Auto%#': np.nan},
    'RepNumber': {'Auto%#': np.nan},
    'AccidentArea': {'Auto%#': np.nan},
    'Make': {'Auto%#': np.nan},
    'AgentType': {'Auto%#': np.nan},
    'BasePolicy': {'Auto%#': np.nan},
    'PoliceReportFiled': {'Auto%#': np.nan},
    'WitnessPresent': {'Auto%#': np.nan}
}

for col, corrections in correcciones.items():
    if col in df.columns:
        df[col] = df[col].replace(corrections)

Reviso si hay duplicados

In [136]:
duplicados = df.duplicated().sum()
print('Duplicados encontrados:', duplicados)
df_sin_dup = df.drop_duplicates()
print('Después de eliminar duplicados:', len(df_sin_dup))

Duplicados encontrados: 291
Después de eliminar duplicados: 18727

Traducimos los datos al español

In [148]:
traducciones = {
    'Month': {'Jan': 'Enero', 'Feb': 'Febrero', 'Mar': 'Marzo', 'Apr': 'Abril', 'May': 'Mayo', 'Jun': 'Junio', 
              'Jul': 'Julio', 'Aug': 'Agosto', 'Sep': 'Septiembre', 'Oct': 'Octubre', 'Nov': 'Noviembre', 'Dec': 'Diciembre'},
    'DayOfWeek': {'Monday': 'Lunes', 'Tuesday': 'Martes', 'Wednesday': 'Miércoles', 'Thursday': 'Jueves', 
                  'Friday': 'Viernes', 'Saturday': 'Sábado', 'Sunday': 'Domingo'},
    'Sex': {'Male': 'Masculino', 'Female': 'Femenino'},
    'MaritalStatus': {'Single': 'Soltero', 'Married': 'Casado', 'Widow': 'Viudo'},
    'AccidentArea': {'Urban': 'Urbano', 'Rural': 'Rural'},
    'PoliceReportFiled': {'Yes': 'Sí', 'No': 'No'},
    'WitnessPresent': {'Yes': 'Sí', 'No': 'No'}
}

for col, trad in traducciones.items():
    if col in df_sin_dup.columns:
        df_sin_dup[col] = df_sin_dup[col].replace(trad)


print('Valores traducidos')

Valores traducidos

In [149]:
nombres_español = {
    'Month': 'Mes', 'WeekOfMonth': 'SemanaDelMes', 'DayOfWeek': 'DiaDeLaSemana',
    'Make': 'MarcaVehiculo', 'AccidentArea': 'AreaAccidente', 'DayOfWeekClaimed': 'DiaReclamo',
    'MonthClaimed': 'MesReclamo', 'WeekOfMonthClaimed': 'SemanaReclamo', 'Sex': 'Genero',
    'MaritalStatus': 'EstadoCivil', 'Age': 'Edad', 'Fault': 'Culpa', 'PolicyType': 'TipoPoliza',
    'VehicleCategory': 'CategoriaVehiculo', 'VehiclePrice': 'PrecioVehiculo', 
    'FraudFound_P': 'FraudeDetectado', 'PolicyNumber': 'NumeroPoliza', 'RepNumber': 'NumeroRepresentante',
    'Deductible': 'Deducible', 'DriverRating': 'CalificacionConductor', 
    'Days_Policy_Accident': 'DiasPolizaAccidente', 'Days_Policy_Claim': 'DiasPolizaReclamo',
    'PastNumberOfClaims': 'NumeroReclamosAnteriores', 'AgeOfVehicle': 'EdadVehiculo',
    'AgeOfPolicyHolder': 'EdadAsegurado', 'PoliceReportFiled': 'ReportePolicial',
    'WitnessPresent': 'TestigoPresente', 'AgentType': 'TipoAgente',
    'NumberOfSuppliments': 'NumeroSuplementos', 'AddressChange_Claim': 'CambioDireccionReclamo',
    'NumberOfCars': 'NumeroVehiculos', 'Year': 'Año', 'BasePolicy': 'PolizaBase'
}

df_sin_dup = df_sin_dup.rename(columns=nombres_español)
print('Nombres de columnas cambiados a español')

Nombres de columnas cambiados a español

Definimos una funcion para detectar y corregir valores (outliers)

In [150]:
def corregir_outliers(columna):
    if columna.dtype in ['int64', 'float64']:
        Q1 = columna.quantile(0.25)
        Q3 = columna.quantile(0.75)
        IQR = Q3 - Q1
        li = Q1 - 1.5 * IQR
        ls = Q3 + 1.5 * IQR
        columna = np.where(columna < li, li, columna)
        columna = np.where(columna > ls, ls, columna)
    return columna

columnas_outliers = ['Edad', 'Deducible', 'CalificacionConductor']
for col in columnas_outliers:
    if col in df_sin_dup.columns:
        df_sin_dup[col] = corregir_outliers(df_sin_dup[col])

print('Valores atípicos corregidos')

Valores atípicos corregidos

creo una copia del DataFrame limpio y revisamos su tamaño

In [158]:
df_limpio = df_sin_dup.copy()

print('Resumen:')
print('Dimensiones:', df_limpio.shape)
print('Registros:', len(df_limpio))
print('Columnas:', len(df_limpio.columns))
print('Duplicados:', df_limpio.duplicated().sum())
print('Valores faltantes totales:', df_limpio.isnull().sum().sum())
print('Tipos de datos:')
print(df_limpio.dtypes.value_counts())

print('\nPrimeras filas del dataset limpio:')
print(df_limpio.head(2))

Resumen:
Dimensiones: (18727, 33)
Registros: 18727
Columnas: 33
Duplicados: 0
Valores faltantes totales: 24679
Tipos de datos:
object    33
Name: count, dtype: int64

Primeras filas del dataset limpio:
         Mes SemanaDelMes DiaDeLaSemana MarcaVehiculo AreaAccidente  \
0  Diciembre          5.0     Miércoles         Honda        Urbano
1      Enero          3.0     Miércoles         Honda        Urbano

  DiaReclamo MesReclamo SemanaReclamo     Genero EstadoCivil  ...  \
0    Tuesday        Jan           1.0   Femenino     Soltero  ...
1     Monday        Jan           4.0  Masculino     Soltero  ...

  EdadVehiculo EdadAsegurado ReportePolicial TestigoPresente TipoAgente  \
0      3 years      26 to 30             NaN              No   External
1      6 years      31 to 35              Sí              No   External

  NumeroSuplementos CambioDireccionReclamo NumeroVehiculos     Año PolizaBase
0              none                 1 year          3 to 4  1994.0  Liability
1              none              no change       1 vehicle  1994.0  Collision

[2 rows x 33 columns]

Eliminamos filas sin datos

In [ ]:
#  Quitar filas con datos críticos faltantes
print('Quitando filas con datos importantes faltantes...')

filas_inicial = len(df_limpio)

# Quitar filas sin número de póliza
sin_poliza = df_limpio['NumeroPoliza'].isna().sum()
df_limpio = df_limpio[df_limpio['NumeroPoliza'].notna()]
print(f'Quitadas {sin_poliza} filas sin número de póliza')

# Quitar filas sin marca de vehículo
sin_marca = df_limpio['MarcaVehiculo'].isna().sum()
df_limpio = df_limpio[df_limpio['MarcaVehiculo'].notna()]
print(f'Quitadas {sin_marca} filas sin marca de vehículo')

# Quitar filas sin edad
sin_edad = df_limpio['Edad'].isna().sum()
df_limpio = df_limpio[df_limpio['Edad'].notna()]
print(f'Quitadas {sin_edad} filas sin edad')

filas_final = len(df_limpio)
print(f'Total filas quitadas: {filas_inicial - filas_final}')

Quitando filas con datos importantes faltantes...
Quitadas 0 filas sin número de póliza
Quitadas 0 filas sin marca de vehículo
Quitadas 0 filas sin edad
Total filas quitadas: 0

In [154]:
print('Buscando valores Auto%#...')

filas_con_autop = 0
for col in df_limpio.columns:
    if df_limpio[col].dtype == 'object':
        mask = df_limpio[col].astype(str).str.contains('Auto%#', na=False)
        if mask.any():
            count = mask.sum()
            filas_con_autop += count
            df_limpio = df_limpio[~mask]
            print(f'Quitadas {count} filas con Auto%# en {col}')

print(f'Total filas con Auto%# quitadas: {filas_con_autop}')

Buscando valores Auto%#...
Total filas con Auto%# quitadas: 0

Quitamos filas con errores

In [ ]:
# Quitar filas con otros valores malos
print('Quitando filas con otros problemas...')

# Quitar filas sin mes
sin_mes = df_limpio['Mes'].isna().sum()
df_limpio = df_limpio[df_limpio['Mes'].notna()]
print(f'Quitadas {sin_mes} filas sin mes')

# Quitar filas sin área de accidente
sin_area = df_limpio['AreaAccidente'].isna().sum()
df_limpio = df_limpio[df_limpio['AreaAccidente'].notna()]
print(f'Quitadas {sin_area} filas sin área de accidente')

print(f'Filas restantes: {len(df_limpio)}')

Quitando filas con otros problemas...
Quitadas 474 filas sin mes
Quitadas 786 filas sin área de accidente
Filas restantes: 14792

Revisamos si aun quedan NaN

In [ ]:
print('Revisando qué falta limpiar...')

nan_restantes = df_limpio.isnull().sum()
columnas_con_nan = nan_restantes[nan_restantes > 0]

if len(columnas_con_nan) > 0:
    print('Columnas que todavía tienen NaN:')
    for col, count in columnas_con_nan.items():
        print(f'  {col}: {count} valores faltantes')
        
    # Para columnas con pocos NaN, llenar con valores comunes
    for col, count in columnas_con_nan.items():
        if count < 10:  # Si hay menos de 10 NaN
            if df_limpio[col].dtype in ['int64', 'float64']:
                valor = df_limpio[col].median()
                df_limpio[col].fillna(valor, inplace=True)
            else:
                valor = df_limpio[col].mode()[0] if not df_limpio[col].mode().empty else 'No especificado'
                df_limpio[col].fillna(valor, inplace=True)
            print(f'Llenados {count} NaN en {col} con: {valor}')
else:
    print('Ya no hay NaN en el dataset')

Revisando qué falta limpiar...
Columnas que todavía tienen NaN:
  SemanaDelMes: 448 valores faltantes
  DiaDeLaSemana: 440 valores faltantes
  DiaReclamo: 459 valores faltantes
  MesReclamo: 743 valores faltantes
  SemanaReclamo: 463 valores faltantes
  Genero: 461 valores faltantes
  EstadoCivil: 449 valores faltantes
  Culpa: 467 valores faltantes
  TipoPoliza: 745 valores faltantes
  CategoriaVehiculo: 447 valores faltantes
  PrecioVehiculo: 770 valores faltantes
  FraudeDetectado: 729 valores faltantes
  NumeroRepresentante: 731 valores faltantes
  Deducible: 756 valores faltantes
  CalificacionConductor: 721 valores faltantes
  DiasPolizaAccidente: 454 valores faltantes
  DiasPolizaReclamo: 449 valores faltantes
  NumeroReclamosAnteriores: 432 valores faltantes
  EdadVehiculo: 741 valores faltantes
  EdadAsegurado: 440 valores faltantes
  ReportePolicial: 749 valores faltantes
  TestigoPresente: 732 valores faltantes
  TipoAgente: 725 valores faltantes
  NumeroSuplementos: 456 valores faltantes
  CambioDireccionReclamo: 465 valores faltantes
  NumeroVehiculos: 459 valores faltantes
  Año: 461 valores faltantes
  PolizaBase: 749 valores faltantes

Revisamos que ya no quedan datos NaN

In [173]:
df_limpio

,Mes,SemanaDelMes,DiaDeLaSemana,MarcaVehiculo,AreaAccidente,DiaReclamo,MesReclamo,SemanaReclamo,Genero,EstadoCivil,...,EdadVehiculo,EdadAsegurado,ReportePolicial,TestigoPresente,TipoAgente,NumeroSuplementos,CambioDireccionReclamo,NumeroVehiculos,Año,PolizaBase
1,Enero,3.0,Miércoles,Honda,Urbano,Monday,Jan,4.0,Masculino,Soltero,...,6 years,31 to 35,Sí,No,External,none,no change,1 vehicle,1994.0,Collision
7,Noviembre,1.0,Viernes,Honda,Urbano,Tuesday,Mar,4.0,Masculino,Soltero,...,new,16 to 17,No,No,External,none,no change,1 vehicle,1994.0,Collision
9,Abril,3.0,Martes,Ford,Urbano,Wednesday,Apr,3.0,Masculino,Casado,...,more than 7,36 to 40,No,No,External,3 to 5,no change,1 vehicle,1994.0,All Perils
12,Enero,3.0,Viernes,Ford,Urbano,Friday,Jan,3.0,Masculino,Casado,...,7 years,31 to 35,No,No,External,none,no change,1 vehicle,1994.0,Liability
15,Agosto,4.0,Martes,Ford,Urbano,Monday,Aug,5.0,Masculino,Soltero,...,6 years,36 to 40,No,No,External,none,no change,1 vehicle,1994.0,Liability
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18997,Octubre,2.0,Sábado,Toyota,Urbano,Tuesday,Oct,2.0,Femenino,Casado,...,7 years,41 to 50,No,No,External,none,2 to 3 years,1 vehicle,1994.0,Collision
18999,Noviembre,2.0,Sábado,Toyota,Urbano,Tuesday,Dec,1.0,Masculino,Casado,...,5 years,31 to 35,No,No,External,1 to 2,no change,1 vehicle,1994.0,All Perils
19002,Enero,2.0,Miércoles,Honda,Urbano,Wednesday,Jan,2.0,Masculino,Casado,...,7 years,36 to 40,No,No,External,none,no change,1 vehicle,1995.0,Liability
19008,Febrero,1.0,Jueves,Chevrolet,Urbano,Wednesday,Feb,2.0,Femenino,Casado,...,6 years,31 to 35,No,No,External,none,no change,1 vehicle,1994.0,Liability
19010,Agosto,4.0,Sábado,Mazda,Urbano,Wednesday,Mar,2.0,Masculino,Casado,...,4 years,31 to 35,No,No,External,none,4 to 8 years,2 vehicles,1994.0,Collision

In [174]:
df_limpio.to_csv('dataset_terminado.csv', index=False, encoding='utf-8')
print('Dataset guardado como dataset_terminado.csv')
print('Listo, limpieza terminada')

Dataset guardado como dataset_terminado.csv
Listo, limpieza terminada

In [175]:
df=pd.read_csv("C:/Users/anton/OneDrive/Documentos/limpieza/dataset_terminado.csv")
df

,Mes,SemanaDelMes,DiaDeLaSemana,MarcaVehiculo,AreaAccidente,DiaReclamo,MesReclamo,SemanaReclamo,Genero,EstadoCivil,...,EdadVehiculo,EdadAsegurado,ReportePolicial,TestigoPresente,TipoAgente,NumeroSuplementos,CambioDireccionReclamo,NumeroVehiculos,Año,PolizaBase
0,Enero,3.0,Miércoles,Honda,Urbano,Monday,Jan,4.0,Masculino,Soltero,...,6 years,31 to 35,Sí,No,External,none,no change,1 vehicle,1994.0,Collision
1,Noviembre,1.0,Viernes,Honda,Urbano,Tuesday,Mar,4.0,Masculino,Soltero,...,new,16 to 17,No,No,External,none,no change,1 vehicle,1994.0,Collision
2,Abril,3.0,Martes,Ford,Urbano,Wednesday,Apr,3.0,Masculino,Casado,...,more than 7,36 to 40,No,No,External,3 to 5,no change,1 vehicle,1994.0,All Perils
3,Enero,3.0,Viernes,Ford,Urbano,Friday,Jan,3.0,Masculino,Casado,...,7 years,31 to 35,No,No,External,none,no change,1 vehicle,1994.0,Liability
4,Agosto,4.0,Martes,Ford,Urbano,Monday,Aug,5.0,Masculino,Soltero,...,6 years,36 to 40,No,No,External,none,no change,1 vehicle,1994.0,Liability
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4778,Octubre,2.0,Sábado,Toyota,Urbano,Tuesday,Oct,2.0,Femenino,Casado,...,7 years,41 to 50,No,No,External,none,2 to 3 years,1 vehicle,1994.0,Collision
4779,Noviembre,2.0,Sábado,Toyota,Urbano,Tuesday,Dec,1.0,Masculino,Casado,...,5 years,31 to 35,No,No,External,1 to 2,no change,1 vehicle,1994.0,All Perils
4780,Enero,2.0,Miércoles,Honda,Urbano,Wednesday,Jan,2.0,Masculino,Casado,...,7 years,36 to 40,No,No,External,none,no change,1 vehicle,1995.0,Liability
4781,Febrero,1.0,Jueves,Chevrolet,Urbano,Wednesday,Feb,2.0,Femenino,Casado,...,6 years,31 to 35,No,No,External,none,no change,1 vehicle,1994.0,Liability
4782,Agosto,4.0,Sábado,Mazda,Urbano,Wednesday,Mar,2.0,Masculino,Casado,...,4 years,31 to 35,No,No,External,none,4 to 8 years,2 vehicles,1994.0,Collision